li{
    margin-left: 2cm;
    font-size: 24px;
    list-style-type: "- ";
    text-align: left;
}

ul{
    text-align: left;
    font-size: 48px;
    font-family:'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 48px;
    text-align: center;

}

body{
    background-color:khaki;
}

img{
    height: 136px;
    width: 200px;
    border-color: khaki;
}

.test{
    display: inline-block;
}